* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.tp-dfwv {
  min-width: 380px;
}

.tp-lblv_v {
  min-width: 240px;
}

.loader {
  position: absolute;
  top: 50%;
  height: 5px;
  width: 50%;
  left: 30%;
  background: white;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s ease-in-out;
  will-change: transform, opacity;
  border-radius: 10px;
}

.loader.end {
  transform: scaleX(0);
  transform-origin: top right;
  transition: transform 0.5s ease-in-out;
}
